body{
  background-color: #faf8e1 !important;
}

.icon-links{
  max-width: 100px;
  height: auto;
}

.thumbnail{
  max-width:300px;
  height: auto;
}

.bg-success{
  background-color: #334e45 !important;
}

form{
  max-width: 500px;
  
}

#question{
  width: 500px;
  height: 190px;
}

.configuration-banner{
  background-image: url(./images/configuration.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.accessories-banner{
  background-image: url(./images/accessories.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.experiences-banner{
  background-image: url(./images/experiences.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.logo{
  width: 200px;
  height: auto;
}

.navbar {
  background-color: #faf8e1 !important;
}

.img-thumbnail {
  background-color: #faf8e1 !important;
  border: none;
}

.secondNav{
  margin-top: 250px !important;
  margin-bottom: 250px !important;
}