.hero-img {
  background-image: url("./images/beach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #121212;
}/*# sourceMappingURL=styles.css.map */