/*

.glaven{
  height: 700px;
  width: 700px;
  margin: auto;
   gap: 10px;
}

.grey{
  background-color: gray;
  height: 100%;
  border: 20px solid white;
}




.rowTretina{
  height: 33%;
}

.rowDveTretini{
  height: 66%;
}

.fourth{
  height: 25%;
}

.yellow{
  background-color: yellow;
  border: 10px solid white;
}

.blue{
  background-color: blue;
  border: 10px solid white;
}

.red{
  background-color: red;
  border: 10px solid white;
}

*/





